

<form class="" action="<%= bands_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="">Band or Artist:
    <input type="text" name="band[name]" value="">
  </label>
  <input type="submit" name="name" value="Submit Band">
</form>